    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image is-4by3">
              Welcome Page
            </figure>
          </div>
          <div class="column is-6 is-offset-1">
            {{{form}}}
          </div>
        </div>
      </div>
    </div>
